Source: quickbib
Section: utils
Priority: optional
Maintainer: Archisman Panigrahi <maintainer@example.com>
Build-Depends: debhelper-compat (= 13), dh-python, python3-all, meson, ninja-build, pkg-config, python3-pyqt6
Standards-Version: 4.6.0
Rules-Requires-Root: no

Package: quickbib
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-pyqt6, python3-doi2bib3
Description: A simple DOI to bibliography converter
 Quickbib is a simple application that generates bibliography entries from DOIs, journal URLs and arXiv IDs.
